.container {
  margin-top: 25px !important;
  background-color: rgba(255,255,255,0.8);
  min-width: 450px;
  top: 50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  width: 30% !important;
  padding: 80px !important;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}
.videoBg {
  position: fixed !important;
  left: 0 !important;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.backdrop {
  filter: brightness(80%);
}
.formControl {
  color: #07b53b !important;
  font-size: 18px !important;
}
.passwordChangeFormTtl {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #07b53b !important;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
}
.forgetBtn {
  width: 12rem;
  color: #07b53b !important;
  font-weight: bold !important;
  border: 2px solid #07b53b !important;
  background-color: unset !important;
  border-radius: 30px !important;
}
.forgetBtn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #07b53b;
  transform: translateY(-0.4rem);
  transition: 0.3s ease-in-out;
  background-color: #07b53b !important;
  color: #fff  !important;
}
.backToLogin {
  color:#212529 !important;
  text-decoration: unset;
  font-size: 18px;
}
.backToLogin:hover {
  color: #07b53b !important;
}
