.eventTable {
  margin-top: 20px;
}

.eventImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.eventName {
  text-decoration: underline;
  cursor: pointer;
}

.rejectBtn {
  margin-right: 5px;
}